.footer {
    @apply w-full h-[200px] bg-blue-800 flex justify-center items-center flex-col pt-10 mt-[200px];
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    @apply text-white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }